extends ../layout.pug 
include ../mixins/_etappes

block content   
  .ui.container
  h1.ui.header Welkom bij Jota's Tourpool
  - var optie = {weekday: 'long', day: 'numeric', month:'long'}
  - var short = {weekday: 'short', day: 'numeric'}
  - var startdag = new Intl.DateTimeFormat('nl-NL',optie).format(new Date(setting.tourdatum.start))
  - var einddag =  new Intl.DateTimeFormat('nl-NL',optie).format(new Date(setting.tourdatum.eind))
  .ui.center.aligned.grid
    .ui.raised.yellow.very.padded.text.left.aligned.segment
      h2.ui.center.aligned.header De tour van #{setting.tourjaar} wordt gereden van  #{startdag} tot #{einddag}
      .ui.raised.segment
        table.ui.striped.table
          thead
            tr 
              th Nr 
              th Datum 
              th Van 
              th Naar 
              th kms 
              th type 
          tbody
            each etap, index in setting.tourEtappes
              - var dat = new Intl.DateTimeFormat('nl-NL',short).format(new Date(etap.datum))
              +etappe(index, etap, dat)
