extends ../layout.pug 
include ../mixins/_etappes

block content   
  - var optie = {weekday: 'long', day: 'numeric', month:'long'}
  - var short = {weekday: 'short', day: 'numeric'}
  - var startdag = new Intl.DateTimeFormat('nl-NL',optie).format(new Date(setting.tourdatum.start))
  - var einddag =  new Intl.DateTimeFormat('nl-NL',optie).format(new Date(setting.tourdatum.eind))
  h1.ui.grid.center.aligned.header  Tour de France #{setting.tourjaar}

  .ui.center.aligned.grid
    .ui.segment
      h3.ui.header De tour van #{setting.tourjaar} wordt gereden van  #{startdag} tot #{einddag}
      .ui.raised.segment(style="overflow:auto; max-height: 70vh;")
        table.ui.striped.table
          thead
            tr 
              th Nr 
              th Datum 
              th Van 
              th Naar 
              th kms 
              th type 
          tbody
            each etap, index in setting.tourEtappes
              - var dat = new Intl.DateTimeFormat('nl-NL',short).format(new Date(etap.datum))
              +etappe(index, etap, dat)
