:root {
    --main-head-color: #1133af;
    --main-bg-color: #FFC324;
    --positive-color: #81da5e;
    --or-color: #f1dea8;
}

h1.ui.header {
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    background-color: var(--main-bg-color);
}

.ui.inverted.menu .item {
    color: var(--main-head-color);
}

.ui.header {
    color: var(--main-head-color);
}

.ui.buttons .or:before {
    background: var(--main-bg-color);
    /*     opacity: 1;
    font-size: 1rem;
    border: 1px black dotted; */
}

.ui.positive.button {
    background: var(--positive-color);
    color: var(--main-head-color)
}

.mainpage {
    margin-top: 0px;
    margin-bottom: 40px;
    height: auto;
}

.background {
    opacity: .05;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}