extends ../layout.pug
block content
  h1.ui.header Welkom bij Jota's Tourpool #{setting.tourjaar}
  .ui.center.aligned.grid
    .ui.raised.yellow.inverted.very.padded.text.left.aligned.segment
      form(action="/users/login" method="POST").ui.left.aligned.form
        a(href="/users/register").ui.teal.tiny.fluid.animated.button 
          .visible.content Nog niet geregistreerd?
          .hidden.content Registreren
        h2.ui.center.aligned.header Login
        .field  
          label(for="username") Gebruikersnaam
          input(type="text" name="username" placceholder= "Gebrukersnaam")
        .field  
          label(for="password") Wachtwoord
          input(type="password" name="password" placceholder= "Wachtwoord")
        button.ui.right.floated.positive.big.button(type="submit") Log in
        .ui.error.message
  script.  
    $('.ui.form')
    .form({
      fields: {
        username: {
          identifier: 'username',
          rules: [
            {
              type   : 'empty',
              prompt : 'Je hebt geen gebruikersnaam opgegeven!'
            }
          ]
        },
        wachtwoord: {
          identifier: 'password',
          rules: [
            {
              type   : 'empty',
              prompt : 'Een wachtwoord is wel verplicht hoor'
            },
            {
              type   : 'minLength[6]',
              prompt : 'Je wachtwoord moet minimaal {ruleValue} lettertekens zijn'
            }
          ]
        },
      }
    });