extends ../layout.pug
block content 
  h1.ui.header Renner toevoegen
  .ui.center.aligned.grid
    .ui.raised.yellow.inverted.very.padded.text.left.aligned.segment
      form(action='/renners', method="POST").ui.form 
        .ui.form
          .three.fields 
            .field
              label(for="vNaam") Voornaam
              input(type="text" id="vNaam" name="renner[vNaam]" value=vNaam)
            .field
              label(for="tNaam") voorvoeg
              input(type="text" id="tNaam" name="renner[tNaam]" value=tNaam)
            .field
              label(for="aNaam") Achternaam
              input(type="text" id="aNaam" name="renner[aNaam]" value=aNaam)
        .ui.center.aligned.grid
          .ui.row
            .ui.buttons
              a(href="/renners").ui.animated.large.button 
                .visible.content Annuleren
                .hidden.content 
                  i.left.arrow.icon
              .or(data-text="")
              button.ui.submit.large.animated.positive.button 
                .visible.content Opslaan
                .hidden.content   
                  i.save.icon
        .ui.error.message    
  script.
    $('.ui.form')
    .form({
      fields: {
        aNaam: {
          identifier: 'aNaam',
          rules: [
            {
              type   : 'empty',
              prompt : 'Je moet minimaal een achternaam invullen!'
            }
          ]
        },
      }
    });          
